.root{
    :global{
        gap: 8px;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        .selected{
            background-color: orange;
            color: black;
        }
        .disabled{
            background-color: orange;
        }
            li {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                border: 1px solid orange;
                height: 45px;
                width: 45px;
                padding: 10px;
                line-height: 38px;
        
                a {
                    cursor: pointer;
                    display: inline-block;
                    line-height: 24px;
                }
            }
    }
    

}