.root{
    border: 1px solid black;
    border-radius: 18px;
    width: 300px;
    padding: 15px 10px;
    padding-left: 45px;
}

.icon{
    width: 24px;
    height: 24px;
    opacity: 0.5;
    position: absolute;
    left: 12px;
    top: 12px;
}

.wrapper{
    position: relative;

}

.iconClose{
    width: 24px;
    height: 24px;
    opacity: 0.5;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}